# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su

# CDT-specific
.cproject
.autotools

Makefile
Makefile.in
config.*
configure

*~
doc/*
aclocal
autom4te.cache/*
install-sh
intltool*
libtool
ltmain.sh
missing
src/.deps/*

